In [1]:
import geopandas as gpd
import pandas as pd
import os
import numpy as np
from tqdm import tqdm

## data

In [2]:
# change path to relative path - only for publishing
# current_directory = os.path.dirname(os.path.abspath(__file__))
# os.chdir(current_directory)

path = "./sampleData/Mireuksan_sample.shp"
sample_data = gpd.read_file(path)

In [3]:
sample_data

,FID_미륵,Id,Cell_Area,Cell_ID,FID_토지,L3_CODE,ORIG_FID,FID_임상,STORUNST,FROR_CD,...,HEIGHT,LDMARK_STN,MAP_LABEL,갱신년,ETC_PCMTT,FID_국토,Id_1,gridcode,Own_Area,geometry
0,23285,0,100.0,23286,634,212,10,-1,None,None,...,None,None,None,None,None,659,8806,3,99.562,"POLYGON ((201578.519 379861.238, 201568.519 37..."
1,23286,0,100.0,23287,634,212,10,-1,None,None,...,None,None,None,None,None,659,8806,3,100.000,"POLYGON ((201588.519 379861.238, 201578.519 37..."
2,23287,0,100.0,23288,634,212,10,-1,None,None,...,None,None,None,None,None,659,8806,3,100.000,"POLYGON ((201598.519 379861.238, 201588.519 37..."
3,23288,0,100.0,23289,634,212,10,-1,None,None,...,None,None,None,None,None,659,8806,3,54.318,"POLYGON ((201602.981 379869.831, 201605.631 37..."
4,23288,0,100.0,23289,644,212,10,-1,None,None,...,None,None,None,None,None,659,8806,3,0.959,"POLYGON ((201608.519 379870.177, 201608.504 37..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31403,72461,0,100.0,72462,1603,321,18,121,1,2,...,18,J12111,NPD-25C,2016,None,877,9930,1,66.562,"POLYGON ((202878.519 381237.704, 202878.519 38..."
31404,72462,0,100.0,72463,1603,321,18,121,1,2,...,18,J12111,NPD-25C,2016,None,877,9930,1,54.408,"POLYGON ((202888.519 381235.166, 202888.519 38..."
31405,72462,0,100.0,72463,1678,331,19,326,1,2,...,18,J12377,NMM-25C,None,None,877,9930,1,45.592,"POLYGON ((202888.519 381235.166, 202886.834 38..."
31406,72463,0,100.0,72464,1603,321,18,121,1,2,...,18,J12111,NPD-25C,2016,None,877,9930,1,20.561,"POLYGON ((202898.519 381231.958, 202898.519 38..."
31407,72463,0,100.0,72464,1678,331,19,326,1,2,...,18,J12377,NMM-25C,None,None,877,9930,1,79.439,"POLYGON ((202898.519 381231.958, 202895.705 38..."